.our-services {
  padding: 30px 50px 25px;
  text-align: center;
  align-items: center;
  height: auto;
  width: 100%;
  position: relative;
  background-color: #1c1c1c;
  -webkit-box-shadow: 0px -31px 60px 43px rgba(28, 28, 28, 1);
  -moz-box-shadow: 0px -31px 60px 43px rgba(28, 28, 28, 1);
  box-shadow: 0px -31px 60px 43px rgba(28, 28, 28, 1);
}

.our-services-title {
  height: auto;
  align-items: center;
  margin-bottom: 30px;
  color: rgb(172, 172, 172);
}

.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2rem 2rem 0 2rem;
}

.service {
  flex: 1 1;
  margin: 17px;
  height: auto;
  width: 18%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f2f2f;
  padding: 30px 20px;
  border-radius: 35px;
  transition: all 0.4s ease-in-out;
  position: relative;
  overflow: hidden;
}

.service:hover {
  transform: scale(1.02);
  box-shadow: 1px 1px 14px rgba(241, 241, 241, 0.154);
}

.services-img {
  width: 7.5rem;
  height: 7.5rem;
  margin-bottom: 1rem;
  border: solid 2px white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.service img {
  object-fit: contain;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  max-width: 5rem;
}

.service-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  color: rgb(152, 152, 152);
}

@media (max-width: 1056px) {
  .service {
    flex: 1 1 35%;
  }
}

@media (max-width: 650px) {
  .service {
    flex: 1 1 100%;
  }
  .service-container {
    margin: 0;
  }
}

.service.hovered {
  background-color: #d42f13;
  color: #000000;
}

.service:hover .services-img {
  transform: scale(1.03);
  /* background-color: #f9f9f9; */
}
