.enhance-container {
    background-color: #1c1c1c;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
    padding: 2em;
}

.enhance-specifications {
    padding: 1.5em 3em;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}