.our-technology {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px 30px;
  width: auto;
  height: auto;
  background-color: #1c1c1c;
  color: azure;
}

.our-technology-title {
  text-align: center;
  align-items: center;
  display: block;
  height: 3rem;
  width: 100%;
}

.our-technology-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 50px 50px;
  position: relative;
  z-index: 2;
}

.our-technology-img {
  width: 40%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: end;
  filter: invert(1);
}

.our-technology-img img {
  width: 80%;
  border-radius: 20px;
  height: 100%;
  object-fit: cover;
  min-width: 20rem;
}

.our-technology-text {
  width: 45%;
  height: auto;
  padding: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.technology-text td{
  background-color: rgba(240, 248, 255, 0) !important;
  padding: 5px;
}

.our-technology-text tr {
  justify-content: center;
  height: 2rem;
}

@media (max-width: 1024px) {
  .our-technology-container {
    flex-direction: row;
    align-items: center;
  }

  .our-technology-text {
    width: 50%;
    padding: 2rem 1.5rem;
  }

  .our-technology-img {
    width: 50%;
    justify-content: end;
  }

  .our-technology-img img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .our-technology-container {
    align-items: center;
  }

  .our-technology-img {
    justify-content: center;
    width: 100%;
  }

  .our-technology-text {
    width: 90%;
    padding: 1.5rem 1rem;
    text-align: left;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .our-technology-container{
    padding: 5px;
  }

  .our-technology {
    padding: 20px;
  }
  .our-technology-img {
    width: 100%;
  }

  .our-technology-text {
    width: 90%;
    padding: 1rem 0.5rem;
  }
}
