@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.header-text {
  font-family: 'Rubik', sans-serif;
  font-optical-sizing: auto;
  font-size: 2rem;
  font-weight: bolder;
}

.normal-text {
  font-family: 'DM Sans', sans-serif;
  font-optical-sizing: auto;
  font-size: 1.2rem;
  font-weight: 500;
}

.small-text {
  font-family: 'DM Sans', sans-serif;
  font-optical-sizing: auto;
  font-size: 0.9rem;
}

.custom-button-class {
  transform: translateX(0.5rem);
  margin-left: 2rem;
}
