.contact-us-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 30px;
    background-color: #1c1c1c;
}

.contact-us-top {
    display: flex;
}

.contact-us-top Text {
    color: rgb(231, 231, 231);
}

.contact-us-low {
    margin: 1em 2em;
    display: flex;
}