.contact-us-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 2em 1em;
    background-color: #000000;
}

.contact-us-top {
    display: flex;
}

.contact-us-top Text {
    color: rgb(231, 231, 231);
}

.contact-us-low {
    margin: 1em 2em 2em;
    display: flex;
}