.plan-section {
    background-color: #1c1c1c;
    padding: 1em 5em 1.5em;
}

.plan-container {
    background-color: #1c1c1c;
    border-radius: 40px;
    text-align: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    color: #b3b3b3;
}

.table-harga {
    display: flex;
    justify-content: center;
    flex: none;
}

@media (max-width: 1024px) {
    .plan-section {
        padding: 1em 3em;
    }

    .plan-container {
        margin: 1em;
    }
}

@media (max-width: 768px) {
    .plan-container {
        margin: 1em;
        padding: 0em .7em;
    }
}