.plan-container {
    background-color: rgb(237, 237, 237);
    border-radius: 40px;
    margin-left: 12em;
    margin-right: 12em;
    padding: 2em;
    color: rgb(59, 59, 59);
    box-shadow: 0px 0px 14px 1px #00000062;
    text-align: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}

.table-harga {
    display: flex;
    justify-content: center;
    flex: none;
}

@media (max-width: 1024px) {
    .plan-container {
        margin: 6em;

    }
}

@media (max-width: 768px) {
    .plan-container {
        margin: 5em;
        padding: 2em .7em;
    }
}