.price-table {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    margin: 0;
}

.table-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.table-container table {
    width: 100%;
    margin-top: 10px;
    margin: .4em 2em;
    border-collapse: collapse;
}

.table-container table thead td {
    text-align: center;
    
}

.table-container table thead td, tbody tr td {
    padding: 10px;
}

.table-container table thead td:nth-child(1), tbody tr td:nth-child(1) {
    padding-left: 0px;
}

.table-container table tbody tr td:nth-child(1) {
    text-align: left;
    width: 35%;
}

.table-container table thead td:nth-child(2), tbody tr td:nth-child(2) {
    background-color: rgb(232, 232, 232);
}

.table-container table thead td:nth-child(3), tbody tr td:nth-child(3) {
    background-color: #f8d37e;
}

.table-container table thead td:nth-child(4), tbody tr td:nth-child(4) {
    background-color: #f6c143;
}

@media (max-width: 910px) {
    .price-table {
        flex-direction: column;
        width: 100%;
    }

    .table-container {
        overflow-x: auto;
        margin: 1em 0;
    }
}