header {
  width: 100%;
  height: auto;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.header-img {
  width: 100%;
  height: auto;
}

header img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #0000005e;
}

.overlay-text {
  width: 50%;
}

@media (max-width: 768px) {
  .overlay {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .overlay-text {
    width: 80%;
  }

  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .overlay-text {
    width: 80%;
  }
}
