@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');

.header-text, .subheader-text, .normal-text, .navbar-text, .small-text {
    font-family: "Sulphur Point", sans-serif;
    font-optical-sizing: auto;
}

.header-text {
    font-size: 2.4rem;
    font-weight: 1000;
}

.subheader-text {
    font-size: 1.8rem;
    line-height: normal;
    font-weight: 800;
}

.normal-text {
    font-size: 1.3rem;
    font-weight: 500;
}

.navbar-text {
    font-size: 1.2rem;
    font-weight: 500;
}

.small-text {
    font-size: .9rem;
    font-weight: 500;
}