@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&family=Quicksand:wght@300..700&family=Sulphur+Point:wght@300;400;700&display=swap');

.header-text, .subheader-text, .normal-text, .navbar-text, .small-text {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
}

.header-text {
    font-size: 38px;
    font-weight: 1000;
}

.subheader-text {
    font-size: 28px;
    line-height: 30px;
    font-weight: 800;
}

.normal-text {
    font-size: 21px;
    font-weight: 500;
}

.navbar-text {
    font-size: 19px;
    font-weight: 400;
}

.small-text {
    font-size: 15px;
    font-weight: 500;
}